################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Deisgn-Patterns-Csharp/.vs/Deisgn-Patterns-Csharp/FileContentIndex/322173a8-a287-4ffb-a0bd-4ee0a6a37295.vsidx
/Deisgn-Patterns-Csharp/.vs/Deisgn-Patterns-Csharp/FileContentIndex/4abab66a-1936-4fff-9cb2-018a7ea57249.vsidx
